<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">  <!-- Подключение внешнего стиля через файл style.css -->
    </head>
    <body>
        <a href="{{url_for('index')}}">Главная страница</a>  <!-- Гиперссылка на главную страницу с использованием шаблонизатора (например, Flask) -->
        <H1>Контакты</H1>  <!-- Заголовок страницы "Контакты" -->
        <p>Эта страница для просмотра контактов</p>  <!-- Пояснительный текст на странице -->
        <a href="tel:28484848">Наш телефон: 28484848</a>  <!-- Ссылка для набора номера телефона -->
        <a href="mailto:info@website.com">Наш e-male: info@website.com</a>  <!-- Ссылка для отправки письма по электронной почте -->
    </body>
</html>
